/*
 * Alexander Conrad Nied's Homepage
 * Main Style Sheet
 * Designed 2014-01-20
 * Converted to BootStrap/JQuery 2015-06-30
 */

/* New organization via Bootstrap */

hr.top {
	border: none;
	height: 1px;
	/* Set the hr color */
	color: #333; /* old IE */
	background-color: #333; /* Modern Browsers */
}

h2 {
	text-align:center;
}

/* Research Navigation */
#research_navbar {
	margin: 10px auto 10px auto;
	text-align: -webkit-center;
}

#research_navbar ul {
    width: 100%;
    text-align: center;
	vertical-align: middle;
}

#research_navbar ul li {
    float: none;
    display: inline-block;
}

/* Content */

#projects .row, #potpourri .row {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}

#research_navbar a {
	cursor: pointer;
}

.iconlist div.row div {
	text-align: center;
/*    border: solid 1px #ddd;*/
/*    border-radius: 15px;*/
/*    margin: 15px;*/
	cursor: pointer;
}

.iconlist div.row div:hover {
    opacity: 40%;
}

/*
.iconlist img:hover {
	cursor: pointer;
}
*/

.iconlist img {
	max-height: 200px;
    padding-bottom: 20px;
}

.modal-body .affiliation {
	float: left;
	font-weight: bold;
}

.modal-body .timeperiod {
	float: right;
	font-weight: bold;
}

.modal-body img {
	margin: 0px auto;
	padding: 25px;
	max-height: 400px;
}

/* Framing */

body {
	font-family: Avenir, Verdana, Helvetica, Arial, sans-serif;
	background-color: #FFFFFF;/*#DFFFEF;*/
	margin: 0 auto 1.5em auto;
	padding: 0 2em 2em 2em;
	min-height: 240px;
	max-width: 950px;
 }

a {
	color: black;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

p a { 
    color: skyblue;
}

a.pub {
	float:left;
}
a.pub img {
	border-width: 5px;
	height: 160px;
}

.portrait {
	float:left;
	padding: 0px 10px 10px 10px;
	width:160px;
}


img.link {
	border-width: 5px;
}

img.fig {
	max-height: 160px;
	max-width: 240px;
	/*border-width: 0px;*/
	padding: 0px 5px 0px 5px;
	float: left;
}
figure img {
    padding-top: 5px !important;
}
figcaption {
    padding-top: 5px;
    text-align: center;
    font-weight: 500;
}

iframe {
	height: 160px;
	width: 240px;
	border: 0px;
	float: left;
	padding: 0 5px;
}

br.interrupt {
	height: 1px;
	content:"";
	display:block;
}
